<h1>Welcome!</h1>

<% if user_signed_in? %>

Welcome Home,<%= current_user.name %>!
<%= link_to "Logout", destroy_user_session_path, method: :delete %>

<% else %>

Please sign up or sign in! <br><br>
<%= link_to "Sign Up", new_user_registration_path %><br>

<%= link_to "Login", new_user_session_path %>

<% end %>