*{
  font-family:Georgia,Cambria,"Times New Roman",Times,serif;
}

h1 {
	font-size: 50px;
    color: #282828 ;
    text-align: center;
    font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.subtitle {
	color: #282828 ;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

 p.first {
 	font-size: 18px;
 	
 }


 p.second{
 	font-size: 20px;
 	color:#c9353a;
 }

 .box1 {
    width: 500px;
    height:40px;
}

.my1pic {
	width:60%;
	height:350px;
	text-align: center;
}
	
	
.centered-image{
	text-align:center;
}



	








/*Title: 40px, bold, slightly lighter black
Subtitle: 32px, bold, same color as title
Date: 18px, lighter shade of grey
Author: 20px, #c9353a (red)
Content: 20px, same color as date
Image: 75% of the screen, centered (google it)
List: remove bullets/numbers (google it)
Pull quote: differentiate it from the content*/