<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fail - Please Try Again</title>
</head>
<body>
<h1> You Search Failed to Load</h1>
<h2><a href="/">Click here to try again</a>
</body>
</html>