<!DOCTYPE html>
<html lang="en">
<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="my_css.css">
	<meta charset="UTF-8">
	<title>Movies Trivia</title>

</head>
<body>
<div class="container">
	<div class="row top">
		<div class="col-md-12">
			<a href="http://www.w3schools.com/html/" class="contact">CONTACT</a>
			<a href="http://www.w3schools.com/html/" class="about">ABOUT</a>
			<a href="http://www.w3schools.com/html/" class="home">HOME</a>
			
		</div>
	</div>

	<h1>Welcome to movie lovers Trivia!</h1><br>

	<div class="search_page">

		<form action="/results" method="post" >
		  	<p class="para">Search for a movie here:</p>

		  	<br><input type="word" name="search" placeholder="Enter Movie"><br><br><br>
		  	<button class="btn btn-danger" type="submit">Button</button>
		</form>

	</div>
	<div class="row top">
		<div class="col-md-12">
		
			
		</div>
	</div>

</div>



	
</body>
</html>